@import "src/assets/styles/theme/variables";

:host {
  ::ng-deep {
   .spinner-background {
      position: fixed;
      z-index: 999;
      height: 100%;
      width: 100%;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #fff;
      padding: 15rem 0 0 0;

      img {
        width: 5rem;
        height: auto;
      }
    }
  }
}
