$color-primary: #511BD8;
$color-secondary: #86BBD8;
$color-tertiary: #FF7A00;

$color-danger: #e74141;
$color-success: #9EE493;
$color-info: #71a9fc;
$color-warning: #ffa44f;
$color-light: #f8f9fa;
$color-dark: #212529;

$color-refresh: #A6CE39;
$color-page: #D7D7D7;

$theme-input-bg: #e3e3e3;
$theme-input-color: #000000;
$theme-input-disabled-bg: #bdbdbd;
$theme-input-btn-padding-y: .175rem;
$theme-input-btn-padding-x: .5rem;


$theme-font-family: 'Jost', sans-serif;;
